<!DOCTYPE html>
<html ng-app="app">

<head>
  <script type="text/javascript">
    apiUrl = "<%= "//#{request.host_with_port}" %>";
  </script>

  <!-- site configuration for title (in one place for both rails and angular) -->
  <title>ng-rails</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "lineman/app", media: :all %>
  <link rel="icon" type="image/png" href="/img/favicon.ico"/>

</head>

<body ng-cloak>
  <%= render partial: 'shared/ganalytics', locals: ganalytics_config if has_ganalytics? %>

  <!-- TODO: google analytics -->

  <!-- TODO: make navbar-widget a tag -->
  <header navbar-widget></header>

  <div class="container-fluid" >
    <div id="view" ui-view></div>
  </div>
  <!--/.container-fluid -->

  <div id="footer">
    <div class="container-fluid">
      <!-- TODO: site configuration for author -->
      <p class="text-muted text-center">&copy; <%= Date.today.year %> David Conner</p>
    </div>
  </div>

  <%= javascript_include_tag "lineman/app" %>
</body>

</html>
